

*{

  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;



}



.bg-dark {

color: white;
background-color: red;

}

nav li{


text-decoration: none;
list-style: none;
}

nav a {
  font-family: "Pacifico", serif;
  
  font-style: normal;
  
  font-style: normal;
text-decoration: none;
color: white;
font-weight: bold;

font-size: 22px;
letter-spacing: 8px;

}


nav a:hover{

color: #fbc14c;
text-decoration: none;
transition: 0.6s;
padding: 7px 6px;
}

.behind{
background-color: grey;


}

ul li{

margin-left: 6px;
margin-bottom: 1%;

}
.fa-beer{
color: white;


}


 

.fa-home{

color: white;


}

.logo{
width: 140px;
height: 112px;
background-color:white ;
margin: 0 auto;
position: relative;
background-image: url("../img/logodepo.png");
background-repeat: no-repeat;
background-size: 120px;
background-position: center;
border-radius: 100px;
border:solid 2.1px black;
}

#all{

/* Permalink - use to edit and share this gradient. Link permanente - use para editar e compartilhar este gradiente: https://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

.fa-instagram , .fa-home , .fa-beer{
/* Permalink - use to edit and share this gradient. Link permanente - use para editar e compartilhar este gradiente: https://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: black;
font-size: 24px;
padding: 7px;
}


.navbarToggleExternalContent{

color: red;

}

.collapse{

background: grey;




}
.navbar-toggler{
background-color: ;
color: grey;

}

.navbar-toggler:hover{

background-color: ;
opacity: 0.6;
}

.navbar {

background: #f2f2f2;


}






.main-wrapper{
/* Permalink - use to edit and share this gradient. Link permanente - use para editar e compartilhar este gradiente: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}


.inside{

width: 1200px;
height: auto;
background-image: url("../img/9165568.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
padding: 20px;
max-width: 100%;
font-family: "Sue Ellen Francisco", serif;
border-top:   ;
text-shadow:  1.2px 1.2px white;
border-right: ;
}





h2 {

font-size: 40px;

color: ;
text-shadow :2px 3px white;
}


.bottom{
font-size: 30px;
background-color: none;

}

.col-md-4{

box-shadow: 0.2px 0.3px black;
margin-top: 12px;
margin-right: ;
border-right: solid 1px black;

}


.col-md-4 img{
width: 100%;
height: auto;


}

.col-md-4:hover{
opacity: 0.9;
cursor: pointer;
padding: 6px;
/* Permalink - use to edit and share this gradient. Link permanente - use para editar e compartilhar este gradiente: https://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
background: linear-gradient(135deg,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.main-wrapper{
background: ;


}

.bottom{
/* Permalink - use to edit and share this gradient. Link permanente - use para editar e compartilhar este gradiente: https://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: white;

text-shadow: 2px 2px black;

}